body{
  font-family: roboto;
  font-weight: 600;
}

.content-box{
  height: 120px;
  width: 120px;
  border: 1px solid grey;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{ 
  width: min-content;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 150px auto;
}