.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

body {
  font-family: Roboto;
  margin: 16px;
}

.container{
  width: 300px;
text-align: center;
padding: 8px;
border: 1px solid black;
border-radius: 10px;
}

img{
  width: 200px;
}